@use "~styles/html/abstracts/mixins" as *;

/* prettier-ignore */
@include fonts(
	"../../fonts/",
 Roboto,
	(
		Roboto-Bold: ( weight: 700, style: normal, exts: woff2 woff ttf svg otf eot),  
		Roboto-Black: ( weight: 900, style: normal, exts: woff2 woff ttf svg otf eot ),
	)
);
@include fonts(
	"../../fonts/",
	Inter,
	(
		Inter-Bold: (
			weight: 700,
			style: normal,
			exts: woff2 woff ttf svg otf eot,
		),
		Inter-ExtraBold: (
			weight: 800,
			style: normal,
			exts: woff2 woff ttf svg otf eot,
		),
	)
);
