//- online
//- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css")
//- offline
//- link(rel="stylesheet" href="assets/css/bootstrap-grid.min.css")
//- online
//- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css" integrity="sha256-ixF878Uo8LLjLOnPsKwzcPjTn7xBuE/KwHoRpVKSX8s=" crossorigin="anonymous")
//- offline
link(rel='stylesheet' href='assets/css/reset-css@5.0.1.min.css')
link(rel="stylesheet" href="assets/css/cosmo.bootstrap.5.2.3.css")
link(rel="stylesheet" href="assets/css/cosmo.custom.min.css")
link(rel='stylesheet' href=require('../../styles/pug/index.scss'))
//- link(rel='preconnect' href='https://fonts.googleapis.com')
//- link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
//- link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=block')