/* stylelint-disable unit-allowed-list */
/* stylelint-disable at-rule-no-unknown */
@use "sass:map";
@use "~styles/react-ts/abstracts/variables" as *;

$typography-size: (
	size-18: 18px,
	size-16: 16px,
	size-14: 14px,
	size-13: 13px,
	size-12: 12px,
	size-10: 10px,
);
